@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback);

@font-face {
    font-family: "Uncut Sans";
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
    src: url(fonts/Uncut-Sans-Bold.woff2)format("woff2"), url(fonts/Uncut-Sans-Bold.woff)format("woff")
}

@font-face {
    font-family: "Uncut Sans";
    font-weight: 700;
    font-style: italic;
    font-display: fallback;
    src: url(fonts/Uncut-Sans-BoldOblique.woff2)format("woff2"), url(fonts/Uncut-Sans-BoldOblique.woff)format("woff")
}

@font-face {
    font-family: "Uncut Sans";
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
    src: url(fonts/Uncut-Sans-Semibold.woff2)format("woff2"), url(fonts/Uncut-Sans-Semibold.woff)format("woff")
}

@font-face {
    font-family: "Uncut Sans";
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
    src: url(fonts/Uncut-Sans-Medium.woff2)format("woff2"), url(fonts/Uncut-Sans-Medium.woff)format("woff")
}

*,
::before,
::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb
}

::before,
::after {
    --tw-content: ''
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

body {
    margin: 0;
    line-height: inherit
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px
}

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp,
pre {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}

button,
select {
    text-transform: none
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none
}

:-moz-focusring {
    outline: auto
}

:-moz-ui-invalid {
    box-shadow: none
}

progress {
    vertical-align: baseline
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0
}

fieldset {
    margin: 0;
    padding: 0
}

legend {
    padding: 0
}

ol,
ul,
menu {
    list-style: none;
    margin: 0;
    padding: 0
}

textarea {
    resize: vertical
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
    color: #9ca3af
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    opacity: 1;
    color: #9ca3af
}

input::placeholder,
textarea::placeholder {
    opacity: 1;
    color: #9ca3af
}

button,
[role="button"] {
    cursor: pointer
}

:disabled {
    cursor: default
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  
    padding-left: 0%;
  
    
}

/* Adicione estilos ao carrossel */
.carousel-container {
    text-align: justify; /* Centraliza o conteúdo horizontalmente */
}

.slick-carousel {
    
    margin-block: 10%; /* Garante que o carrossel tenha apenas a largura necessária */
    right: 100px;
    left: 80px;
    
}

.slick-slide img {
    width: 100%; /* Garante que a imagem ocupe 100% da largura da sua div pai */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 100px; /* Adiciona bordas arredondadas à imagem (opcional) */
  
    
}



[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 0px;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000
}

[type="text"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #2563eb;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    border-color: #2563eb
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #6b7280;
    opacity: 1
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #6b7280;
    opacity: 1
}

input::placeholder,
textarea::placeholder {
    color: #6b7280;
    opacity: 1
}

::-webkit-datetime-edit-fields-wrapper {
    padding: 0
}

::-webkit-date-and-time-value {
    min-height: 1.5em
}

::-webkit-datetime-edit,
::-webkit-datetime-edit-year-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute-field,
::-webkit-datetime-edit-second-field,
::-webkit-datetime-edit-millisecond-field,
::-webkit-datetime-edit-meridiem-field {
    padding-top: 0;
    padding-bottom: 0
}

select {
    background-image: url(data:image/svg+xml,%3csvg\ xmlns=\'http://www.w3.org/2000/svg\'\ fill=\'none\'\ viewBox=\'0\ 0\ 20\ 20\'%3e%3cpath\ stroke=\'%236b7280\'\ stroke-linecap=\'round\'\ stroke-linejoin=\'round\'\ stroke-width=\'1.5\'\ d=\'M6\ 8l4\ 4\ 4-4\'/%3e%3c/svg%3e);
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
    -webkit-print-color-adjust: exact;
    color-adjust: exact
}

[multiple] {
    background-image: initial;
    background-position: initial;
    background-repeat: unset;
    background-size: initial;
    padding-right: 0.75rem;
    -webkit-print-color-adjust: unset;
    color-adjust: unset
}

[type="checkbox"],
[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    color: #2563eb;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    --tw-shadow: 0 0 #0000
}

[type="checkbox"] {
    border-radius: 0px
}

[type="radio"] {
    border-radius: 100%
}

[type="checkbox"]:focus,
[type="radio"]:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-ring-offset-width: 2px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #2563eb;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow)
}

[type="checkbox"]:checked,
[type="radio"]:checked {
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat
}

[type="checkbox"]:checked {
    background-image: url(data:image/svg+xml,%3csvg\ viewBox=\'0\ 0\ 16\ 16\'\ fill=\'white\'\ xmlns=\'http://www.w3.org/2000/svg\'%3e%3cpath\ d=\'M12.207\ 4.793a1\ 1\ 0\ 010\ 1.414l-5\ 5a1\ 1\ 0\ 01-1.414\ 0l-2-2a1\ 1\ 0\ 011.414-1.414L6.5\ 9.086l4.293-4.293a1\ 1\ 0\ 011.414\ 0z\'/%3e%3c/svg%3e)
}

[type="radio"]:checked {
    background-image: url(data:image/svg+xml,%3csvg\ viewBox=\'0\ 0\ 16\ 16\'\ fill=\'white\'\ xmlns=\'http://www.w3.org/2000/svg\'%3e%3ccircle\ cx=\'8\'\ cy=\'8\'\ r=\'3\'/%3e%3c/svg%3e)
}

[type="checkbox"]:checked:hover,
[type="checkbox"]:checked:focus,
[type="radio"]:checked:hover,
[type="radio"]:checked:focus {
    border-color: transparent;
    background-color: currentColor
}

[type="checkbox"]:indeterminate {
    background-image: url(data:image/svg+xml,%3csvg\ xmlns=\'http://www.w3.org/2000/svg\'\ fill=\'none\'\ viewBox=\'0\ 0\ 16\ 16\'%3e%3cpath\ stroke=\'white\'\ stroke-linecap=\'round\'\ stroke-linejoin=\'round\'\ stroke-width=\'2\'\ d=\'M4\ 8h8\'/%3e%3c/svg%3e);
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat
}

[type="checkbox"]:indeterminate:hover,
[type="checkbox"]:indeterminate:focus {
    border-color: transparent;
    background-color: currentColor
}

[type="file"] {
    background: unset;
    border-color: inherit;
    border-width: 0;
    border-radius: 0;
    padding: 0;
    font-size: unset;
    line-height: inherit
}

[type="file"]:focus {
    outline: 1px auto -webkit-focus-ring-color
}

*,
::before,
::after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

::-webkit-backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

.clulh {
    width: 100%
}

@media (min-width:640px) {
    .clulh {
        max-width: 640px
    }
}

@media (min-width:768px) {
    .clulh {
        max-width: 768px
    }
}

@media (min-width:1024px) {
    .clulh {
        max-width: 1024px
    }
}

@media (min-width:1280px) {
    .clulh {
        max-width: 1280px
    }
}

@media (min-width:1536px) {
    .clulh {
        max-width: 1536px
    }
}

.cx0om {
    font-size: 3.75rem;
    line-height: 1.166;
    letter-spacing: -0.01em;
    font-weight: 700
}

.c4cmz {
    font-size: 2.25rem;
    line-height: 1.277;
    letter-spacing: -0.01em;
    font-weight: 700
}

.ci6dt {
    font-size: 1.875rem;
    line-height: 1.333;
    letter-spacing: -0.01em;
    font-weight: 700
}

.cqwf5 {
    font-size: 1.5rem;
    line-height: 1.415;
    letter-spacing: -0.01em;
    font-weight: 700
}

@media (min-width:768px) {
    .cx0om {
        font-size: 3rem;
        line-height: 1;
        letter-spacing: -0.01em
    }

    .c4cmz {
        font-size: 3rem;
        line-height: 1.2;
        letter-spacing: -0.01em
    }
}

.cxykh,
.c2pi2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    font-weight: 500;
    line-height: 1.5;
    transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.cxykh {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem
}

.c2pi2 {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none
}

.ceul3,
.ci6om,
.ctabn,
.c139n,
.cwqhv,
.cz3x1 {
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(55 65 81/var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55/var(--tw-bg-opacity))
}

.ceul3:focus,
.ci6om:focus,
.ctabn:focus,
.c139n:focus,
.cwqhv:focus,
.cz3x1:focus {
    --tw-border-opacity: 1;
    border-color: rgb(59 130 246/var(--tw-border-opacity))
}

.ceul3,
.ci6om,
.ctabn,
.c139n,
.cwqhv {
    border-radius: 0.125rem
}

.ceul3,
.ci6om,
.ctabn,
.c139n {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem
}

.ceul3,
.ci6om {
    line-height: 1.375
}

.ceul3::-moz-placeholder,
.ci6om::-moz-placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(107 114 128/var(--tw-placeholder-opacity))
}

.ceul3:-ms-input-placeholder,
.ci6om:-ms-input-placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(107 114 128/var(--tw-placeholder-opacity))
}

.ceul3::placeholder,
.ci6om::placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(107 114 128/var(--tw-placeholder-opacity))
}

.c139n {
    padding-right: 2.5rem
}

.cwqhv,
.cz3x1 {
    border-radius: 0.125rem;
    --tw-text-opacity: 1;
    color: rgb(37 99 235/var(--tw-text-opacity))
}

.c92lr::-webkit-scrollbar {
    display: none
}

.c92lr {
    -ms-overflow-style: none;
    scrollbar-width: none
}

:root {
    --range-thumb-size: 36px
}

input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #ccc;
    border-radius: 3px;
    height: 6px;
    margin-top: (--range-thumb-size - 6px)*0.5;
    margin-bottom: (--range-thumb-size - 6px)*0.5;
    --thumb-size: #{--range-thumb-size}
}

input[type=range]::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    background-color: #000;
    background-image: url(data:image/svg+xml,%3Csvg\ width=\'12\'\ height=\'8\'\ xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath\ d=\'M8\ .5v7L12\ 4zM0\ 4l4\ 3.5v-7z\'\ fill=\'%23FFF\'\ fill-rule=\'nonzero\'/%3E%3C/svg%3E);
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    height: --range-thumb-size;
    width: --range-thumb-size
}

input[type=range]::-moz-range-thumb {
    background-color: #000;
    background-image: url(data:image/svg+xml,%3Csvg\ width=\'12\'\ height=\'8\'\ xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath\ d=\'M8\ .5v7L12\ 4zM0\ 4l4\ 3.5v-7z\'\ fill=\'%23FFF\'\ fill-rule=\'nonzero\'/%3E%3C/svg%3E);
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: --range-thumb-size;
    width: --range-thumb-size
}

input[type=range]::-ms-thumb {
    background-color: #000;
    background-image: url(data:image/svg+xml,%3Csvg\ width=\'12\'\ height=\'8\'\ xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath\ d=\'M8\ .5v7L12\ 4zM0\ 4l4\ 3.5v-7z\'\ fill=\'%23FFF\'\ fill-rule=\'nonzero\'/%3E%3C/svg%3E);
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    height: --range-thumb-size;
    width: --range-thumb-size
}

input[type=range]::-moz-focus-outer {
    border: 0
}

.c825k {
    position: relative;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 3rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.c825k label {
    display: block;
    height: 1rem;
    cursor: pointer;
    overflow: hidden;
    border-radius: 9999px
}

.c825k label>span:first-child {
    position: absolute;
    right: 50%;
    left: -0.5rem;
    top: -0.5rem;
    display: block;
    height: 2rem;
    width: 2rem;
    border-radius: 9999px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1)
}

.c825k input[type="checkbox"]:checked+label>span:first-child {
    left: 1.5rem;
    --tw-border-opacity: 1;
    border-color: rgb(37 99 235/var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(191 219 254/var(--tw-bg-opacity))
}

.ceul3:focus,
.ci6om:focus,
.ctabn:focus,
.c139n:focus,
.cwqhv:focus,
.cz3x1:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.cobx0 svg>*:nth-child(1),
.cobx0 svg>*:nth-child(2),
.cobx0 svg>*:nth-child(3) {
    transform-origin: center;
    transform: rotate(0deg)
}

.cobx0 svg>*:nth-child(1) {
    transition: y 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), opacity 0.1s ease-in
}

.cobx0 svg>*:nth-child(2) {
    transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19)
}

.cobx0 svg>*:nth-child(3) {
    transition: y 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), width 0.1s 0.25s ease-in
}

.cobx0.cko68 svg>*:nth-child(1) {
    opacity: 0;
    y: 11;
    transform: rotate(225deg);
    transition: y 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.1s 0.12s ease-out
}

.cobx0.cko68 svg>*:nth-child(2) {
    transform: rotate(225deg);
    transition: transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1)
}

.cobx0.cko68 svg>*:nth-child(3) {
    y: 11;
    transform: rotate(135deg);
    transition: y 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.1s ease-out
}

@media screen {
    html:not(.cx76x) [data-aos=zoom-out] {
        transform: scale(1.05)
    }
}

.c5sfa {
    pointer-events: none
}

.ckm6b {
    visibility: visible
}

.ci9ic {
    visibility: hidden
}

.c307p {
    position: absolute
}

.c8a4e {
    position: relative
}

.c8igq {
    bottom: 0px
}

.cpg49 {
    left: 0px
}

.c5n0y {
    right: 0px
}

.c1sv4 {
    left: 50%
}

.cqa37 {
    top: 0px
}

.cqlxj {
    top: 50%
}

.cvtc3 {
    z-index: 30
}

.cavhb {
    z-index: -10
}

.cxe4z {
    z-index: 10
}

.cs4o7 {
    order: 1
}

.ckl7j {
    grid-column: span 2/span 2
}

.c69o1 {
    grid-column-start: 2
}

.c9oht {
    margin: -0.625rem
}

.c99wm {
    margin: -0.5rem
}

.cmxhx {
    margin: 0.625rem
}

.c390x {
    margin: 0.5rem
}

.cbl28 {
    margin-left: auto;
    margin-right: auto
}

.c60i6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem
}

.cosxg {
    margin-right: 1rem
}

.c8h5l {
    margin-left: 0.75rem
}

.cfe40 {
    margin-left: 0.25rem
}

.ciljg {
    margin-bottom: 1.5rem
}

.cyl8w {
    margin-bottom: 2.5rem
}

.cvx4v {
    margin-bottom: 1rem
}

.c6u0s {
    margin-bottom: 0.5rem
}

.ck5f6 {
    margin-left: 390px
}

.cejbf {
    margin-right: 0.75rem
}

.ch741 {
    margin-bottom: 0.25rem
}

.c75iz {
    margin-right: 1.5rem
}

.cjdk8 {
    margin-top: -1rem
}

.cjxzk {
    margin-right: 0.5rem
}

.cj6bs {
    margin-bottom: 0.75rem
}

.csf3z {
    margin-bottom: 4rem
}

.cp7od {
    margin-top: 2rem
}

.c54x7 {
    margin-bottom: 2rem
}

.cxnxq {
    margin-top: 1.5rem
}

.cwzd1 {
    margin-left: 0.5rem
}

.c4uul {
    margin-top: 0.5rem
}

.cstm9 {
    margin-top: 1rem
}

.c932k {
    margin-top: 0.25rem
}

.chwgj {
    margin-top: 0px
}

.cprq6 {
    display: block
}

.cmgtq {
    display: inline-block
}

.cwmpe {
    display: inline
}

.chip0 {
    display: flex
}

.cpfyo {
    display: inline-flex
}

.cvcf9 {
    display: table
}

.c8bbi {
    display: grid
}

.c7z7s {
    display: none
}

.cglp6 {
    height: 4rem
}

.cxofs {
    height: 2rem
}

.cigfq {
    height: 10rem
}

.c8u3n {
    height: 0.75rem
}

.csakt {
    height: 100%
}

.cw2sg {
    height: 15rem
}

.cmv63 {
    height: 3rem
}

.cuqyu {
    height: 1rem
}

.c8ckg {
    height: 6rem
}

.cbk2v {
    min-height: 100vh
}

.c0ayg {
    width: 100%
}

.cnujf {
    width: 2rem
}

.cn0vf {
    width: 0.75rem
}

.cp8l9 {
    width: 3rem
}

.cl73x {
    width: 33.333333%
}

.cw73p {
    width: 1rem
}

.c0g2c {
    max-width: 72rem
}

.cy2lr {
    max-width: none
}

.czcad {
    max-width: 36rem
}

.cn9oi {
    max-width: 20rem
}

.c4ebt {
    max-width: 24rem
}

.ceb8g {
    max-width: 100%
}

.cqg01 {
    max-width: 48rem
}

.cms5w {
    max-width: 42rem
}

.cv6sy {
    max-width: 28rem
}

.c7d5a {
    max-width: 56rem
}

.cwxa9 {
    flex: 1 1 0%
}

.cbear {
    flex: 1 1 auto
}

.cveoo {
    flex-shrink: 0
}

.cxgjn {
    flex-grow: 1
}

.cnmzr {
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.ctg0r {
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.rotate-2 {
    --tw-rotate: 2deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cfvwy {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cffkh {
    resize: both
}

.cyhed {
    grid-template-columns: repeat(4, minmax(0, 1fr))
}

.cm4oi {
    grid-template-columns: repeat(1, minmax(0, 1fr))
}

.cerg3 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
}

.cuk8q {
    flex-direction: column
}

.cutr6 {
    flex-wrap: wrap
}

.c4v1u {
    align-items: flex-start
}

.c4mnq {
    align-items: center
}

.c6nex {
    align-items: baseline
}

.cbv5p {
    justify-content: flex-end
}

.c32kt {
    justify-content: center
}

.cd10w {
    justify-content: space-between
}

.c25ra {
    gap: 0.5rem
}

.cpkit {
    gap: 2rem
}

.cu3kj {
    gap: 3rem
}

.clw48 {
    gap: 1.5rem
}

.cu0vn>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem*calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem*var(--tw-space-y-reverse))
}

.cc36m>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(2rem*calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2rem*var(--tw-space-y-reverse))
}

.ch3s0>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.75rem*calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.75rem*var(--tw-space-y-reverse))
}

.cfsgp>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem*calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem*var(--tw-space-y-reverse))
}

.cr1ru>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem*var(--tw-space-x-reverse));
    margin-left: calc(1rem*calc(1 - var(--tw-space-x-reverse)))
}

.cq0c0>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 1
}

.cxuoq>:not([hidden])~:not([hidden]) {
    --tw-divide-y-reverse: 0;
    border-top-width: calc(1px*calc(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(1px*var(--tw-divide-y-reverse))
}

.clv5h {
    overflow: hidden
}

.czrr8 {
    border-radius: 9999px
}

.cgrq1 {
    border-radius: 0.25rem
}

.cwr9f {
    border-radius: 0.375rem
}

.cmn5a {
    border-width: 0px
}

.cqv7s {
    border-width: 2px
}

.c25y8 {
    border-bottom-width: 1px
}

.c0lzx {
    border-top-width: 1px
}

.ccxx5 {
    border-bottom-width: 2px
}

.cydxx {
    --tw-border-opacity: 1;
    border-color: rgb(31 41 55/var(--tw-border-opacity))
}

.c12f7 {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219/var(--tw-border-opacity))
}

.chopg {
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235/var(--tw-border-opacity))
}

.cb80s {
    border-color: transparent
}

.cnplf {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39/var(--tw-bg-opacity))
}

.c4a1n {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55/var(--tw-bg-opacity))
}

.cdjvi {
    --tw-bg-opacity: 1;
    background-color: rgb(167 243 208/var(--tw-bg-opacity))
}

.cvwhk {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246/var(--tw-bg-opacity))
}

.c3hn1 {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235/var(--tw-bg-opacity))
}

.c4wey {
    background-image: linear-gradient(to top, var(--tw-gradient-stops))
}

.cltl0 {
    background-image: linear-gradient(to bottom, var(--tw-gradient-stops))
}

.chb0g {
    background-image: linear-gradient(to top right, var(--tw-gradient-stops))
}

.cl6ef {
    --tw-gradient-from: #2563eb;
    --tw-gradient-to: rgb(37 99 235 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.ckoll {
    --tw-gradient-from: #1f2937;
    --tw-gradient-to: rgb(31 41 55 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.c7sf3 {
    --tw-gradient-from: #111827;
    --tw-gradient-to: rgb(17 24 39 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.cs8r5 {
    --tw-gradient-from: #ec4899;
    --tw-gradient-to: rgb(236 72 153 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.cjmhf {
    --tw-gradient-to: rgb(209 213 219 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), #d1d5db, var(--tw-gradient-to)
}

.cf4pm {
    --tw-gradient-to: #60a5fa
}

.cn6f7 {
    --tw-gradient-to: #111827
}

.c2xk9 {
    --tw-gradient-to: #374151
}

.ctn0p {
    --tw-gradient-to: transparent
}

.co0vc {
    --tw-gradient-to: #a855f7
}

.cfkoh {
    --tw-gradient-to: #f472b6
}

.cfn3c {
    fill: #6b7280
}

.c6f9y {
    fill: currentColor
}

.c48lf {
    fill: #10b981
}

.cswvv {
    fill: #9ca3af
}

.cval9 {
    fill: #fff
}

.cgofc {
    fill: #3b82f6
}

.cz5m3 {
    padding: 1.5rem
}

.coaq6 {
    padding-left: 1rem;
    padding-right: 1rem
}

.c5mpl {
    padding-left: 0.75rem;
    padding-right: 0.75rem
}

.chs2t {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
}

.cld06 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem
}

.ckewl {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
}

.cyo0e {
    padding-top: 3rem;
    padding-bottom: 3rem
}

.cof65 {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem
}

.cjv2t {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem
}

.ccf17 {
    padding-left: 2rem;
    padding-right: 2rem
}

.c2eq2 {
    padding-top: 2rem;
    padding-bottom: 2rem
}

.cztca {
    padding-top: 4rem;
    padding-bottom: 4rem
}

.cjtnt {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.ca77z {
    padding-left: 0.125rem;
    padding-right: 0.125rem
}

.cv3mh {
    padding-left: 0px;
    padding-right: 0px
}

.cv5m6 {
    padding-top: 8rem
}

.czfa1 {
    padding-bottom: 3rem
}

.c2to7 {
    padding-bottom: 4rem
}

.cv4kj {
    padding-top: 1rem
}

.ccoqv {
    padding-top: 3rem
}

.cs6ji {
    padding-left: 0.75rem
}

.ckxd8 {
    text-align: center
}

.cz8nf {
    font-family: Inter, sans-serif
}

.cejd3 {
    font-family: Uncut Sans, sans-serif
}

.cimbm {
    font-size: 0.875rem;
    line-height: 1.5715
}

.cbqc4 {
    font-size: 1.25rem;
    line-height: 1.5;
    letter-spacing: -0.01em
}

.cblub {
    font-size: 1.125rem;
    line-height: 1.5;
    letter-spacing: -0.01em
}

.c6shg {
    font-size: 2.25rem;
    line-height: 1.277;
    letter-spacing: -0.01em
}

.ch05i {
    font-size: 1.875rem;
    line-height: 1.333;
    letter-spacing: -0.01em
}

.cscl6 {
    font-size: 0.75rem;
    line-height: 1.5
}

.c4y7j {
    font-size: 1.5rem;
    line-height: 1.415;
    letter-spacing: -0.01em
}

.cazq3 {
    font-weight: 500
}

.cdur3 {
    font-weight: 600
}

.c4bs9 {
    font-weight: 700
}

.cibac {
    text-transform: uppercase
}

.ca4r9 {
    font-style: italic
}

.c06qx {
    line-height: 1.75rem
}

.c9loe {
    letter-spacing: -0.01em
}

.cr1tk {
    letter-spacing: 0
}

.cum4w {
    --tw-text-opacity: 1;
    color: rgb(243 244 246/var(--tw-text-opacity))
}

.ckdyj {
    --tw-text-opacity: 1;
    color: rgb(156 163 175/var(--tw-text-opacity))
}

.cqbpd {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.c56im {
    --tw-text-opacity: 1;
    color: rgb(191 219 254/var(--tw-text-opacity))
}

.clnec {
    --tw-text-opacity: 1;
    color: rgb(209 213 219/var(--tw-text-opacity))
}

.ce7rf {
    --tw-text-opacity: 1;
    color: rgb(59 130 246/var(--tw-text-opacity))
}

.crnw4 {
    --tw-text-opacity: 1;
    color: rgb(229 231 235/var(--tw-text-opacity))
}

.cmb3e {
    --tw-text-opacity: 1;
    color: rgb(16 185 129/var(--tw-text-opacity))
}

.cuzn3 {
    --tw-text-opacity: 1;
    color: rgb(5 150 105/var(--tw-text-opacity))
}

.c78g5 {
    --tw-text-opacity: 1;
    color: rgb(75 85 99/var(--tw-text-opacity))
}

.cbkaa {
    --tw-text-opacity: 1;
    color: rgb(251 207 232/var(--tw-text-opacity))
}

.cg67d {
    --tw-text-opacity: 1;
    color: rgb(253 242 248/var(--tw-text-opacity))
}

.c5dgk {
    --tw-text-opacity: 1;
    color: rgb(236 72 153/var(--tw-text-opacity))
}

.c9t8y {
    --tw-text-opacity: 1;
    color: rgb(107 114 128/var(--tw-text-opacity))
}

.c5xaq {
    --tw-text-opacity: 1;
    color: rgb(17 24 39/var(--tw-text-opacity))
}

.comzj {
    --tw-text-opacity: 1;
    color: rgb(55 65 81/var(--tw-text-opacity))
}

.cwktl {
    --tw-text-opacity: 1;
    color: rgb(79 70 229/var(--tw-text-opacity))
}

.c0olq {
    --tw-text-opacity: 1;
    color: rgb(0 0 0/var(--tw-text-opacity))
}

.cz4wp {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline
}

.cwh80 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.cma1x {
    opacity: 0.6
}

.cxmkl {
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.ctoc4 {
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.covrk {
    --tw-shadow-color: rgb(59 130 246 / 0.25);
    --tw-shadow: var(--tw-shadow-colored)
}

.co9ce {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.cdm1x {
    transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms
}

.cv73b {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms
}

.c6m7s {
    transition-duration: 150ms
}

.ckwz7 {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

[x-cloak=""] {
    display: none
}

.cm1n3::before {
    content: var(--tw-content);
    position: absolute
}

.cv4y4::before {
    content: var(--tw-content);
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px
}

.cjzl6::before {
    content: var(--tw-content);
    z-index: -10
}

.cfgdq::before {
    content: var(--tw-content);
    margin: -0.125rem
}

.cbopz::before {
    content: var(--tw-content);
    margin: -0px
}

.cjwca::before {
    content: var(--tw-content);
    min-height: 4rem
}

.c99kc::before {
    content: var(--tw-content);
    flex: 1 1 0%
}

.cfqr8::before {
    content: var(--tw-content);
    border-radius: 9999px
}

.cmg4m::before {
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55/var(--tw-bg-opacity))
}

.ctz45::before {
    content: var(--tw-content);
    background-image: linear-gradient(to top, var(--tw-gradient-stops))
}

.cyb34::before {
    content: var(--tw-content);
    --tw-gradient-from: #1f2937;
    --tw-gradient-to: rgb(31 41 55 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.c6760::before {
    content: var(--tw-content);
    --tw-gradient-to: rgb(75 85 99 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), #4b5563, var(--tw-gradient-to)
}

.czfkx::before {
    content: var(--tw-content);
    --tw-gradient-to: rgb(209 213 219 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), #d1d5db, var(--tw-gradient-to)
}

.cs42d::before {
    content: var(--tw-content);
    --tw-gradient-to: #1f2937
}

.ca9no::before {
    --tw-content: '';
    content: var(--tw-content)
}

.cgawo::after {
    content: var(--tw-content);
    flex: 1 1 0%
}

.c4aul:hover {
    --tw-gradient-to: #3b82f6
}

.crzek:hover {
    --tw-gradient-to: #1f2937
}

.cqevh:hover {
    --tw-gradient-to: #ec4899
}

.cysah:hover {
    --tw-text-opacity: 1;
    color: rgb(59 130 246/var(--tw-text-opacity))
}

.cvaas:hover {
    --tw-text-opacity: 1;
    color: rgb(96 165 250/var(--tw-text-opacity))
}

.c5moh:focus {
    --tw-border-opacity: 1;
    border-color: rgb(165 180 252/var(--tw-border-opacity))
}

.clg9m:focus {
    --tw-border-opacity: 1;
    border-color: rgb(0 0 0/var(--tw-border-opacity))
}

.ckx0m:focus {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219/var(--tw-border-opacity))
}

.cdusd:focus {
    --tw-border-opacity: 1;
    border-color: rgb(107 114 128/var(--tw-border-opacity))
}

.c9jgk:focus {
    border-color: transparent
}

.c7gz7:focus {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.cguc9:focus {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235/var(--tw-bg-opacity))
}

.cs8a3:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.c6nv9:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.cfesf:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.cfnp4:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(199 210 254 / var(--tw-ring-opacity))
}

.ci3mj:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(0 0 0 / var(--tw-ring-opacity))
}

.c7gpn:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(107 114 128 / var(--tw-ring-opacity))
}

.c9wbj:focus {
    --tw-ring-opacity: 0.5
}

.cy0i4:focus {
    --tw-ring-offset-width: 0px
}

.ce0u5:focus {
    --tw-ring-offset-width: 2px
}

.c76qn:hover .ccx8x {
    --tw-translate-x: 0.125rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.c76qn:hover .ci53r {
    --tw-translate-x: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.c76qn:hover .c930a {
    fill: #e5e7eb
}

.c76qn:hover .cj6cv {
    --tw-text-opacity: 1;
    color: rgb(209 213 219/var(--tw-text-opacity))
}

@media (min-width:640px) {
    .cib5z {
        grid-column: span 12/span 12
    }

    .ck7tp {
        grid-column: span 6/span 6
    }

    .cdjip {
        display: flex
    }

    .cvuj9 {
        width: 50%
    }

    .c4t8e {
        max-width: none
    }

    .cieak {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }

    .cg4an {
        grid-template-columns: repeat(12, minmax(0, 1fr))
    }

    .c9mpo {
        justify-content: center
    }

    .cx0go {
        -moz-column-gap: 1.5rem;
        column-gap: 1.5rem
    }

    .cmz1i {
        row-gap: 2rem
    }

    .cvuia>:not([hidden])~:not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-top: calc(0px*calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(0px*var(--tw-space-y-reverse))
    }

    .cqmlm>:not([hidden])~:not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(1rem*var(--tw-space-x-reverse));
        margin-left: calc(1rem*calc(1 - var(--tw-space-x-reverse)))
    }

    .cb0ik {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }
}

@media (min-width:768px) {
    .cm9ng {
        order: 0
    }

    .cfba1 {
        grid-column: auto
    }

    .cjzps {
        grid-column: span 3/span 3
    }

    .c4qns {
        margin-left: 0px;
        margin-right: 0px
    }

    .cdoit {
        height: 5rem
    }

    .cphra {
        width: 58.333333%
    }

    .ciy0g {
        width: 41.666667%
    }

    .czwux {
        max-width: 640px
    }

    .ckch3 {
        max-width: 64rem
    }

    .cckpn {
        max-width: none
    }

    .cb6kk {
        max-width: 56rem
    }

    .cwu35 {
        grid-template-columns: repeat(5, minmax(0, 1fr))
    }

    .ct4ea {
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }

    .cvhfi {
        grid-template-columns: repeat(4, minmax(0, 1fr))
    }

    .c01n0 {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }

    .cmmfs {
        flex-direction: row
    }

    .cy3qu {
        align-items: center
    }

    .cjwgj {
        justify-content: flex-start
    }

    .c5l51>:not([hidden])~:not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(2rem*var(--tw-space-x-reverse));
        margin-left: calc(2rem*calc(1 - var(--tw-space-x-reverse)))
    }

    .c40z8>:not([hidden])~:not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-top: calc(0px*calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(0px*var(--tw-space-y-reverse))
    }

    .c2n62 {
        padding-top: 0rem;
        padding-bottom: 2rem
    }

    .cvvmk {
        padding-top: 4rem;
        padding-bottom: 4rem
    }

    .c9ubg {
        padding-left: 3rem;
        padding-right: 3rem
    }

    .c2x36 {
        padding-top: 3rem;
        padding-bottom: 3rem
    }

    .cg2ig {
        padding-top: 2rem   
    }

    .c2e3f {
        padding-bottom: 5rem
    }

    .c0eui {
        padding-top: 5rem
    }

    .cohxx {
        text-align: left
    }

    .ccgck::before {
        content: var(--tw-content);
        min-height: 5rem
    }
}

@media (min-width:1024px) {
    .cwupt {
        grid-column: span 4/span 4
    }

    .ctwr9 {
        grid-column: span 2/span 2
    }

    .c344w {
        margin-right: 4rem
    }

    .c7mel {
        margin-bottom: 0px
    }

    .cvu0u {
        display: block
    }

    .c6ovz {
        width: 50%
    }

    .cknzv {
        max-width: none
    }

    .cponw {
        max-width: 20rem
    }

    .cx98a {
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }

    .clmmq {
        flex-direction: row
    }

    .c5a57 {
        gap: 4rem
    }

    .cbk2l {
        gap: 1.5rem
    }

    .cbb29>:not([hidden])~:not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(4rem*var(--tw-space-x-reverse));
        margin-left: calc(4rem*calc(1 - var(--tw-space-x-reverse)))
    }

    .cua40 {
        padding-left: 1.25rem;
        padding-right: 1.25rem
    }

    .cr5l7 {
        text-align: left
    }
}